@page "/"
@using Senior_Design_Pet_Care_App.Services
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<PageTitle>Home</PageTitle>

@* Example of using the AuthorizeView component to display different content based on the user's authentication status: *@
<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name!</h1>
        <p>Welcome to the Pet Care App. 
           Here you will have the ability to log important reminders for things like feeding & medication times, vet appointments, scheduled walks & bathroom times, as well as important information and notes specific to your pet like their height, weight, age, breed, allergies, etc.
            We also provide special tips & tricks and food & exercise recommendations for your pet based on their breed and age!
        </p>
    </Authorized>
    <NotAuthorized>
        <p>
            Welcome to the Pet Care App.
            Here you will have the ability to log important reminders for things like feeding & medication times, vet appointments, scheduled walks & bathroom times, as well as important information and notes specific to your pet like their height, weight, age, breed, allergies, etc.
            We also provide special tips & tricks and food & exercise recommendations for your pet based on their breed and age!
            Please log in below to view your calendar and pet information.
        </p>
        <Login/>
    </NotAuthorized>
</AuthorizeView>

